.abouts {
  background-image: url('../images/hinepare-small.jpg');
  @include content-background(cover, no-repeat, center);
  width: 100%;
  height: 100vh;
  .about-wrapper {
    position: relative;
  }
  .about  {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

.current-page {
  @include font-feature(1.75em, lighter, 0, right);
  position: absolute;
  top: 2.5em;
  z-index: 1;
  width: 95%;
  color: $sky-misty-blue;
}

.pepeha {
  margin: 3em 0;
  h3 {
    @include font-feature(2em, 600, .5em, center);
    color: $grey-blue;
  }
}

.about-headings {
  @include font-feature(1.75em, bolder, 1em, left);
}

.about-content {
  @include content(2em, 1em, justify);
}

@media (min-width: 768px) {

  .about-wrapper {
    background-image: url('../images/hinepare-large.jpg');
    @include content-background(cover, no-repeat, left);
    background-attachment: fixed;
    .about  {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  .current-page {
    top: 1em;
  }

  .pepeha {
    margin: 5em 0;
    h3 {
      @include font-feature(2.5em, 600, .5em, center);
    }
  }

  .about-headings {
    @include font-feature(2em, bolder, 1em, left);
  }

  .about-content {
    @include content(2em, 1.15em, justify);
  }
}