.content-wrapper {
  .column {
    margin-left: 0;
  }
}

.about-wrapper {
  width: 100%;
  height: 100vh;
  .about  {
    height: 100vh;
  }
}

@media (min-width: 768px) {
  .about-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}