.contactme {
  width: 100%;
  background-image: url('../images/connect-small.png');
  @include content-background(cover, fixed, no-repeat, center);
}

.connect-wrapper {
  height: 100vh;
  position: relative;
  @include flex-box (column, center, center, center)
}

.connect-links {
  li {
    text-align: center;
    margin: 1.5em 0;
  }
}

.social-icons {
  width: 60%;
  @include transition-all(.5s);
  &:hover {
    background-color: $sky-misty-blue;
  }
}

.disclaimer-btn {
  background: 0;
  color: $sky-misty-blue;
  font-weight: lighter;
  width: 10em;
  &:hover {
    color: $white;
  }
}

@media (min-width: 768px) {
  .connect-links {
    width: 50%;
    margin-bottom: 4em;
    @include flex-box (row, center, center, space-between)
  }
}