.content-wrapper.home {
  background-image: url('../../public/images/waiapu-valley-small.png');
  @include content-background(cover, no-repeat, center);
  display: none;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-wrapper {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  align-contents: center;
  .quote {
    color: $white;
    font-family: $Amatic;
    padding: 0 .5em;
    text-align: center;
  }
}

.quote.maori {
  font-size: 2em;
}

.quote.pakeha {
  font-size: 1.5em;
}

.home-wrapper {
  width: 100%;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .content-wrapper.home {
    height: 100vh;
  }
  .quote.maori {
    font-size: 3em;
  }

  .quote.pakeha {
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  .content-wrapper.home {
    background-image: url('../../public/images/waiapu-valley-1.jpg');
    @include content-background(cover, no-repeat, center);
    background-attachment: fixed;
  }
  .quote.maori {
    font-size: 4em;
  }
  .quote.pakeha {
    font-size: 2.75em;
  }
}