.content-wrapper.home {
  @include home-background()
  height: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .content-wrapper.home {
    height: 100vh;
    @include home-background()
  }
}