.projects-wrapper {
  width: 100%;
  height: 100vh;
  .project-content {
    .project {
      height: 100vh;
      @include grayscale(100%);
      @include transition-all(1s)
      .content {
        display: none;
      }
      &:hover {
        @include grayscale(0%);
        .content {
          display: block;
        }
      }
    }
    .project.piro {
      background-image: url('../images/piro.png');
      background-size: cover;
    }
    .project.takapau {
      background-image: url('../images/takapau.png');
      background-size: cover;
    }
  }
}

@media (min-width: 768px) {
  .projects-wrapper {
    width: 100%;
    height: 100vh;
    .project-content {
      .project.piro {
        background-image: url('../images/piro.png');
        background-size: cover;
      }
      .project.takapau {
        background-image: url('../images/takapau.png');
        background-size: cover;
      }
    }
  }
}