.projects-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../images/projects-small.png');
  @include content-background(cover, no-repeat, center);
  .projects {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

.content-list {
  margin-left: 2em;
  @include content(2em, 1em, justify);
  li {
    list-style: initial;
  }
}

.project-content {
  @include content(2em, 1em, justify);
}

@media (min-width: 768px) {
  .projects-wrapper {
    background-image: url('../images/projects.jpg');
    @include content-background(cover, no-repeat, center);
    background-attachment: fixed;
    .projects {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}