.projects-wrapper {
  background-image: url('../images/projects.jpg');
  @include content-background(cover, fixed, no-repeat, center);
  position: relative;
  width: 100%;
  height: 100vh;
  .projects {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .projects-wrapper {
    @include content-background(cover, fixed, no-repeat, center);
    .projects {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}