/* Overide react-bootstrap nav border backgrounds */
.navbar-default {
  background-color: rgba($white, .7);
  border: 0;
  @include transition-all(2s);
  & > div {
    @include transition-all(2s);
    background-color: none;
  }
  a.navbar-brand {
    color: $nav-link;
    font-family: 'Lobster', cursive;
    letter-spacing: .5px;
  }
  .navbar-nav li {
    a {
      color: $nav-link;
    }
  }
  a:hover, a:active, a:visited {
    -webkit-color: $nav-link;
    color: $nav-link;
  }
}

@keyframes fadenav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar-toggle {
  border: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: $nav-link;
}

.navbar-collapse {
  border: 0;
  overflow: hidden;
  .list-link a {
    text-align: center;
  }
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.navbar-collapse.collapse.in {
  border: 0;
}

@media (min-width: 768px) {
  .navbar-default {
    @include transition-all(0.5s);
    background: none;
    .container {
      background: none;
      max-width: 100%;
      margin: 1.5em auto;
      .navbar-header {
        background: none;
      }
    }
    a.navbar-brand {
      color: $nav-link;
      font-size: 2em;
      &:hover, &:active {
        color: $nav-link;
      }
    }
    .navbar-nav li a {
      font-size: 1.15em;
      margin-left: 1.25em;
    }
  }

  .navbar-default.scroll {
    background-color: rgba($white, .95);
    display: flex;
    align-items: center;
    height: 3.5em;
    .container {
      margin: 0 auto;
      ul.nav {
        display: flex;
        align-items: center;
      }
      .connect a {
        padding: 0.25em 0.75em;
      }
    }
  }

  li.list-link.connect a {
    border: 2px solid $nav-link;
    background-color: none;
    transition: background-color .5s;
    &:hover {
      color: $white;
      background-color: $nav-link;
    }
  }

}