.modal-dialog {
  display: flex;
  align-items: center;
  align-content: center;

  h4 {
    margin-bottom: 0;
  }
}

.modal-content {
  width: 100%;
}

.about-modals {
  margin: 1em 0;
}

.project-modals {
  margin: 1em 0;
}

.btn {
  @include modal-btn (1.5em, 7.5em, 3em)
  @include transition-all(1.5s)
  &:hover, &:visited, &:active,  &:link {
    background-color: $grey-blue;
    width: 10em;
    height: 10em;
  }
  &:focus, &:focus:hover {
    background-color: $grey-blue;
  }
}

@media (min-width: 480px) {
  .btn{
    font-size: 1.5em;
  }
}

@media (min-width: 768px) {
  .btn {
    font-size: 2em;
    @include transition-all(1.5s);
    &:hover, &:visited, &:active, &:focus, &:focus:hover, &:link {
      font-size: 1.75em;
      font-weight: lighter;
    }
  }
}

@media only screen and (min-width : 992px) {
  .btn {
    font-size: 2.25em;
    @include transition-all(1.5s);
    &:hover, &:visited, &:active, &:focus, &:focus:hover, &:link {
      font-size: 2em;
    }
  }
}

