@mixin transition-all($time) {
  -webkit-transition: all $time;
  -moz-transition: all $time;
  transition: all $time;
}

@mixin home-background() {
  background: #ffd34e; /* Old browsers */
  background: -moz-linear-gradient(top, #ffd34e 0%, #fffad5 30%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffd34e 0%, #fffad5 30%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffd34e 0%, #fffad5 30%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@mixin grayscale($gray) {
  -webkit-filter: grayscale($gray); /* Chrome, Safari, Opera */
  filter: grayscale($gray);
}

@mixin font-feature($fontsize, $fontweight, $marginbottom, $textalign) {
  font-family: "Amatic SC", cursive;
  font-size: $fontsize;
  font-weight: $fontweight;
  margin-bottom: $marginbottom;
  text-align: $textalign;
}

@mixin content($lineheight, $fontsize, $textalign) {
  line-height: $lineheight;
  font-size: $fontsize;
  text-align: $textalign;
  margin-bottom: 1.75em;
}

@mixin content-background($size, $attach, $repeat, $position) {
  background-size: $size;
  background-attachment: $attach;
  background-repeat: $repeat;
  background-position: $position;
}

@mixin modal-btn($fontsize, $width, $height) {
  font-family: $Amatic;
  background: none;
  background-color: $whakairo-red;
  border: 0;
  color: $white;
  font-size: $fontsize;
  font-weight: bolder;
  width: $width;
  height: $height;
}