/* colors */
$white: #ffffff;
$black: #000000;

$brown-gold: #E8B400;

$camo-green: #838c78;

$deep-green: #105B63;

$white-green: #fcfff5;

$nav-link: #105B63;

$scroll-nav: #fffad5;
$sky-misty-blue: #a5b6cd;
$grey-blue: #334c5e;
$link-blue: #337ab7;

$sky-orange: #D36301;
$whakairo-lightred: #d67e7d;
$whakairo-red: #b25757;

/* fonts */
$Amatic: 'Amatic SC', cursive;